.navbar{
    display: flex;
    list-style: none;
    font-size: 25px;
    position: absolute;
    top:13px ;
    left: 400px;
   
}
.navigation{
    padding: 11px 25px;
    margin: 3px 3px;
}

body{
    margin: 0px;
    padding: 0px;
     font-family: 'Dancing Script', cursive;
     font-size: 25px;
     color: black;
     background-color: white;
}
.img_1{
    background-image: url();
}
.right{
    display: flex;
    position: absolute;
    left: 625px;
    top: 515px;
}
.rdj{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzyAbALIGwWL33mADJ9RIb0LYbjXaJr7A08g&usqp=CAU);
    background-repeat: no-repeat;
    width: 500px;
    
}